
h1{
  text-align: center;
  font-size: 3em;
  width: 16em;
  margin: 0 auto 5% auto;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 5%;
}
section{
  text-align: center;
  margin: 0 auto 5% auto;
  width: 12em;
}
ul {
  list-style-position: inside;
  list-style: square;
}
li {
  text-align: left;
}

